.paginator-section {
  min-height: 30px;
  padding-top: 5px;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0;
  height: 36px;
  border-bottom: 1px solid black;
  text-align: left;
}

th button.id {
  width: 60px;
}

th button.first-name {
  width: 130px;
}

th button.last-name {
  width: 130px;
}

th button.email {
  width: 230px;
}

th button.phone {
  width: 150px;
}

th button {
  position: relative;
  font-weight: bold;
  text-align: left;

  margin: 0;
  width: 100%;
  height: 100%;

  border: none;
  background: none;
}

th button:hover {
  background: lightgray;
}

th button:active {
  background: gray;
  color: whitesmoke;
}

th button.descending::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 20%;
  border: 6px solid transparent;
  border-top-width: 10px;
  border-bottom-width: 0;
  border-top-color: black;
  background: none;
}

th button.descending:active::before {
  border-top-color: whitesmoke;
}

th button.ascending::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 20%;
  border: 6px solid transparent;
  border-bottom-width: 10px;
  border-top-width: 0;
  border-bottom-color: black;
  background: none;
}

th button.ascending:active::before {
  border-bottom-color: whitesmoke;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: lightgray;
}

td {
  border-bottom: 1px solid lightgray;
  height: 28px;
}
